body {
  margin: 0;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*============================================================================*/
/* Header Section */
/*============================================================================*/
.header {
  height: 500px;
  width: 100%;
  background: #1f2937;
  color: white;
}

/*============================================================================*/
/* Navbar */
/*============================================================================*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navbar img {
  height: 40px;
  width: 40px;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  display: inline;
  margin-right: 10px;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: #3572e5;
}

/*============================================================================*/
/* Header Section */
/*============================================================================*/
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.header-left p {
  font-size: 15px;
  margin-right: 10px;
}

#header-button {
  background: #3572e5;
  border: 1px solid #3572e5;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
}

#header-button:hover {
  background: white;
  border: 1px solid #3572e5;
  border-radius: 5px;
  padding: 5px 20px;
  color: #3572e5;
}

.header-img {
  height: 200px;
  width: 400px;
  border: 1px solid #3572e5;
}

/*============================================================================*/
/* Info Section */
/*============================================================================*/

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-left: 10%;
  padding-right: 10%;
}

.info-section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.info-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.info-pics img {
  vertical-align: top;
  height: 90px;
  width: 90px;
  margin-top: 40px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}

figcaption {
  font-size: 15px;
  text-align: center;
}

/*============================================================================*/
/* Quote Section */
/*============================================================================*/
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: #e8e8e8;
}

.quote {
  width: 500px;
}

.quote p {
  vertical-align: middle;
  text-align: left;
  font-size: 24px;
}

#mr-mark {
  text-align: right;
  font-weight: bold;
  font-size: 13px;
}

/*============================================================================*/
/* Call to Action Section */
/*============================================================================*/

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.cta-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 600px;
  background: #3572e5;
  border: 1px solid #3572e5;
  border-radius: 5px;
  padding-left: 60px;
  padding-right: 60px;
}

.cta-left {
  width: 500px;
  color: white;
}

.cta-title {
  color: white;
  font-size: 15px;
  margin: 0;
}

.cta-left p {
  color: #e8e8e8;
  font-size: 13px;
}

.cta-button {
  background: #3572e5;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px 20px;
}

/*============================================================================*/
/* Footer */
/*============================================================================*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #1f2937;
  color: white;
  margin-top: auto;
}
